{% extends 'base.html.twig' %}

{% block body %}
    <h1>News list</h1>

        <tbody>
        {% for n in thenews %}

                <h3>{{ n.thetitle }}</h3>
                <p>{{ n.theText }}</p>
                <p>{{ n.theDate|date('Y-m-d H:i:s') }} par {{ n.fosUser.username }}</p>

        {% endfor %}
        </tbody>


{% endblock %}
